

*{
    font-family: 'Roboto', sans-serif;
}
.logo-img{
    width: 40px;
}
.logo-text{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Pacifico', cursive;
}

.options-container{
    padding: 30px;
    width: 320px;
} 
.page-header{
    margin-top: 0px;
}

label{
    color: rgb(99, 99, 99);
}


#sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 100%; 
}
#sortable li { 
    margin: 0 3px 3px 3px; 
    padding: 0.4em; 
    padding-left: 1.5em; 
    font-size: 1em; 
    height: 35px; 
    cursor: move 
}
#sortable li:active { 
    background: #2196F3;
    color: white;
}
#sortable li span { 
    position: absolute; 
    margin-left: -1.3em; 
}